/* body */

body {
	margin: 0px;
	display: grid;
	grid-template-areas:
		"nav"
		"subbody";
	grid-row-gap: 1%;
	text-decoration: none;
}

/* main grid elements */

nav {
	grid-area: nav;
}

.subbody {
	grid-area: subbody;
	margin: auto;
	width: 60%;
	display: grid;
	grid-template-areas:
		"searcharea . logo"
		"aside section section"
		"footer footer footer";
	grid-row-gap: 1%;
	grid-column-gap: 3%;
	grid-template-columns: 26% 38% 30%;
	grid-template-rows: 50px 600px 100px;
}

/* subbody grid elements */

.searcharea {
	margin: auto;
	width: 60%;
	grid-area: searcharea;
	text-align: center;
	background-color: white;
}

.logo {
	max-height: 100%;
	width: 36%;
	margin: 0% 40%;
	grid-area: logo;
}

aside {
	display: grid;
	padding: 4% 2%;
	grid-template-areas:
	"a1"
	"a2"
	"a3"
	"a4";
	grid-template-columns: 100%;
	grid-gap: 2%;
	grid-area: aside;
	background-color: gray;
}

section {
	display: grid;
	padding: 2%;
	grid-template-areas:
	"s1"
	"s2"
	"s3";
	grid-template-columns: 100%;
	grid-row-gap: 2%;
	grid-area: section;
	background-color: gray;
}

footer {
	grid-area: footer;
	background-color: black;
}

/* logo */

.logo>a>img {
	max-width: 100%;
	max-height: 100%;
}

/* aside grid elements */

.a1 {
	grid-area: a1;
	background-color: white;
	width: 100%;
	height: 100%;
}
.a2 {
	background-color: white;
	grid-area: a2;
	width: 100%;
	height: 100%;
}
.a3 {
	background-color: white;
	grid-area: a3;
	width: 100%;
	height: 100%;
}
.a4 {
	background-color: white;
	grid-area: a4;
	width: 100%;
	height: 100%;
}


/* section grid elements */

.s1 {
	background-color: white;
	grid-area: s1;
	width: 100%;
	height: 100%;
}
.s2 {
	background-color: white;
	grid-area: s2;
	width: 100%;
	height: 100%;
}
.s3 {
	background-color: white;
	grid-area: s3;
	width: 100%;
	height: 100%;
}

/* nav menu */

.nm {
	top: 0px;
	position: sticky;
	margin: auto;
	display: grid;
	width: 100%;
	background-color: red;
	grid-template-areas: ". m1 m2 m3 m4 m5 .";
	grid-template-columns: 30% 8% 8% 8% 8% 8% 30%;
}

.nm a {
	float: left;
	background-color: red;
	color: white;
	text-decoration: none;
	user-select: none;
	text-align: center;
	padding-top: 10%;
	padding-bottom: 10%;
}

.nm a:hover {
	background-color: white;
	color: black;
}

/* nav menu grid elements */

.nm a.act {
	background-color: black;
	color: white;
}
.nm a#m1 {
	grid-area: m1;
}
.nm a#m2 {
	grid-area: m2;
}
.nm a#m3 {
	grid-area: m3;
}
.nm a#m4 {
	grid-area: m4;
}
.nm a#m5 {
	grid-area: m5;
}