body {
	text-decoration: none;
}
.nm {
	overflow: hidden;
}
.nm a {
	float: left;
	background-color: red;
	color: white;
	padding: 20px 16px;
	text-decoration: none;
}
.nm a:hover {
	background-color: white;
	color: black;
}
.nm a.act {
	background-color: black;
	user-select: none;
	color: white;
}
