/* Common elements */

* {
	text-decoration: none;
	user-select: none;
	color: black;
}

p {
	padding: 0% 1%;
	color: black;
	margin: 0px;
}

header {
	text-align: center;
	color: black;
	margin: auto;
	font-size: 20px;
	font-weight: bold;
}

img {
	margin: 5px;
	height: 41px;
	width: 90px; 
}

/* body */

body {
	margin: 0;
	display: grid;
	grid-template-areas:
		"nav"
		"subbody";
	grid-row-gap: 1% 0;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
}

/* -nav menu- */

.menu {
	grid-area: nav;
	top: 0;
	position: sticky;
	display: grid;
	background-color: red;
	grid-template-areas: "search nm logo";
	grid-template-columns: 2fr 5fr 2fr;
	height: 50px;
}

/* --nav menu grid elements-- */

.logo {
	grid-area: logo;
	height: 50px;
}

.logo>a {
	height: 50px;
	width: 330px;
}

.search {
	grid-area: search;
	margin: 15px 0 0 150px;
}

.nm {
	grid-area: nm;
	margin: auto;
	display: grid;
	width: 100%;
	background-color: red;
	grid-template-columns: repeat(5, 1fr);
	height: 50px;
	text-align: center;
}

/* --nm grid elements-- */

.nm a {
	padding-top: 15px;
	float: left;
	height: 35px;
	background-color: red;
	color: white;
	text-decoration: none; 
	text-align: center;
}

.nm a:hover {
	background-color: white;
	color: black;
}

.nm a.act {
	background-color: black;
	color: white;
}

/* -subbody- */

.subbody {
	grid-area: subbody;
	margin: auto;
	width: 60%;
	display: grid;
	grid-template-areas:
		"aside section section"
		"footer footer footer";
	grid-row-gap: 1%;
	grid-column-gap: 3%;
	grid-template-columns: 26% 38% 30%;
	grid-template-rows: 600px 100px;
	background-color: white;
	padding: 1% 1% 0.5% 1%;
}

/* --aside--*/

aside {
	border-radius: 15px;
	display: grid;
	padding: 4% 2%;
	grid-template-columns: 1fr;
	grid-gap: 2%;
	grid-template-rows: repeat(4, 1fr);
	grid-area: aside;
	background-color: lightgray;
}

aside a {
	border-radius: 10px;
}

aside a:hover{
	border: 1px solid grey;
}
/* ---aside grid elements--- */

.general-article, .creator-article {
	background-color: white;
	width: 1fr;
	height: 1fr;
	text-align: justify;
}

/* --section-- */

section {
	border-radius: 15px;
	display: grid;
	padding: 2%;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	grid-row-gap: 2%;
	grid-area: section;
	background-color: lightgray;
}

section a {
	border-radius: 15px;
}

/* ---section grid elements--- */

.anime {
	background-color: white;
	width: 1fr;
	height: 1fr;
	display: grid;
	grid-template-columns: 2fr 3fr;
	text-align: justify;
}

section a:hover {
	border: 1px solid grey;
}

/* ----newsart grid elements---- */

.image {
	width: 100%;
	height: 97%;
	border-radius: 15px;
	margin: 1%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	box-shadow: 0 0 5px;
}

#i1 {
	background-image: url(../images/ezh2.jpg);
}
#i2 {
	background-image: url(../images/ezh1.jpg);
}
#i3 {
	background-image: url(../images/ezh.jpg);
}


#ntext {
	padding: 1%;
}

/* --footer--*/

footer {
	grid-area: footer;
	border-radius: 15px 15px 0 0;
	background-color: black;
	width: 100%;
	height: 100%;
}

footer>p {
	color: white;
	padding: 3% 20% 0% 20%;
}

@media screen and (max-width: 1500px){
	.subbody{
		width: 75%;
	}
	.search{
		margin: 15px 0px 1px 10px;
	}
}

@media screen and (max-width: 1200px){
	.subbody{
		width: 98%;
	}
}

@media screen and (max-width: 900px){
	.subbody{
		padding: 0;
		width: 100%;
		grid-template-columns: 1fr;
		grid-template-rows: 2fr 2fr 1fr;
	}
	aside {
		margin: 10px;
		padding: 10px;
	}
	section {
		padding: 10px;
		margin: 10px;
		grid-gap: 11px;
	}
}

/* -------------news------------- */

.news-article-long {
	background-color: white;
	width: 1fr;
	height: 1fr;
	text-align: justify;
}

/* -------------photos------------- */

body>.photosmain{
	margin: auto;
	width: 60%;
	display: grid;
	grid-template-areas: 
	"pohtos"
	"footer";
	grid-row-gap: 1%;
	grid-template-rows: 600px 100px;
	background-color: white;
	padding: 1% 1% 0.5% 1%;
}

.photos{
	grid-area: pohtos;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1%;
	padding: 2%;
	background-color: lightgrey;
	border-radius: 15px;
}

.photos>img{
	height: 185px;
	width: 285px;
	margin: 0;
	border-radius: 15px;
}

/* -------------community------------- */

aside#comm{
	background-color: white;
	border-radius: 0px;
	grid-template-rows: repeat(2, 1fr);
	padding: 0;
}

.commas{
	background-color: lightgrey;
	border-radius: 15px;
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	padding: 2%;
	grid-gap: 2%;
}

.commas>a{
	background-color: white;
	border-radius: 15px;
	text-align: center;
}

.personmain{
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1%;
}

.person{
	background-color: white;
	display: grid;
	grid-template-areas: 
	"imga pp"
	". pp";
	grid-template-rows: 75px auto;
}

.person>.imga{
	width: 65px;
	height: 65px;
	grid-area: imga;
	border-radius: 15px;
}

.person>p{
	grid-area: pp;
}

/* -------------contacts------------- */

.contsmain{
	grid-area: subbody;
	margin: auto;
	width: 60%;
	display: grid;
	grid-template-areas: 
	"conts"
	"footer";
	grid-row-gap: 1%;
	grid-template-rows: 600px 100px;
	background-color: white;
	padding: 1% 1% 0.5% 1%;
}

.conts{
	grid-area: conts;
	border-radius: 15px;
	display: grid;
	padding: 2%;
	background-color: lightgray;
}