/* Common elements */

* {
	text-decoration: none;
	user-select: none;
}

p {
	padding: 0% 1%;
	color: black;
	margin: 0px;
}

header {
	text-align: center;
	color: black;
	margin: auto;
	font-size: 20px;
	font-weight: bold;
}

img {
	margin: 5px;
	height: 41px;
	width: 90px; 
}

/* body */

body {
	margin: 0;
	display: grid;
	grid-template-areas:
		"nav"
		"subbody";
	grid-row-gap: 1% 0;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
}

/* -nav menu- */

.menu {
	grid-area: nav;
	top: 0;
	position: sticky;
	display: grid;
	background-color: red;
	grid-template-areas: "search nm logo";
	grid-template-columns: 2fr 5fr 2fr;
	height: 50px;
}

/* --nav menu grid elements-- */

.logo {
	grid-area: logo;
	height: 50px;
}

.logo>a {
	height: 50px;
	width: 330px;
}

.search {
	grid-area: search;
	margin: 15px 0 0 150px;
}

.nm {
	grid-area: nm;
	margin: auto;
	display: grid;
	width: 100%;
	background-color: red;
	grid-template-areas: "m1 m2 m3 m4 m5";
	grid-template-columns: repeat(5, 1fr);
	height: 50px;
	text-align: center;
}

/* --nm grid elements-- */

.nm a {
	padding-top: 15px;
	float: left;
	height: 35px;
	background-color: red;
	color: white;
	text-decoration: none; 
	text-align: center;
}

.nm a:hover {
	background-color: white;
	color: black;
}

.nm a.act {
	background-color: black;
	color: white;
}
.nm a#m1 {
	grid-area: m1;
}
.nm a#m2 {
	grid-area: m2;
}
.nm a#m3 {
	grid-area: m3;
}
.nm a#m4 {
	grid-area: m4;
}
.nm a#m5 {
	grid-area: m5;
}

/* -subbody- */

.subbody {
	grid-area: subbody;
	margin: auto;
	width: 60%;
	display: grid;
	grid-template-areas:
		"aside section section"
		"footer footer footer";
	grid-row-gap: 1%;
	grid-column-gap: 3%;
	grid-template-columns: 26% 38% 30%;
	grid-template-rows: 600px 100px;
	background-color: white;
	padding: 1% 1% 0.5% 1%;
}

/* --aside--*/

aside {
	border-radius: 15px;
	display: grid;
	padding: 4% 2%;
	grid-template-areas:
	"a1"
	"a2"
	"a3"
	"a4";
	grid-template-columns: 100%;
	grid-gap: 2%;
	grid-template-rows: 23.5% 23.5% 23.5% 23.5%;
	grid-area: aside;
	background-color: lightgray;
}

aside a {
	border-radius: 10px;
}

aside a:hover{
	border: 1px solid grey;
}
/* ---aside grid elements--- */

.creator-article {
	background-color: white;
	width: 100%;
	height: 100%;
	text-align: justify;
}

#a1 {
	grid-area: a1;

}
#a2 {
	grid-area: a2;

}
#a3 {
	grid-area: a3;

}
#a4 {
	grid-area: a4;

}

/* --section-- */

section {
	border-radius: 15px;
	display: grid;
	padding: 2%;
	grid-template-areas:
	"s1"
	"s2"
	"s3";
	grid-template-columns: 100%;
	grid-template-rows: 32% 32% 32%;
	grid-row-gap: 2%;
	grid-area: section;
	background-color: lightgray;
}

section a {
	border-radius: 15px;
}

/* ---section grid elements--- */

.news-article-short {
	background-color: white;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-areas: 
	"image ntext";
	grid-template-columns: 40% 60%;
	text-align: justify;
}

section a:hover {
	border: 1px solid grey;
}

#s1 {
	grid-area: s1;
}
#s2 {
	grid-area: s2;
}
#s3 {
	grid-area: s3;
}

/* ----newsart grid elements---- */

.image {
	grid-area: image;
	width: 100%;
	height: 97%;
	border-radius: 15px;
	margin: 1%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	box-shadow: 0 0 5px;
}

#i1 {
	background-image: url(../images/ezh2.jpg);
}
#i2 {
	background-image: url(../images/ezh1.jpg);
}
#i3 {
	background-image: url(../images/ezh.jpg);
}


#ntext {
	grid-area: ntext;
	padding: 1%;
}

/* --footer--*/

footer {
	border-radius: 15px 15px 0 0;
	grid-area: footer;
	background-color: black;
	width: 100%;
	height: 100%;
}

footer>p {
	color: white;
	padding: 3% 20% 0% 20%;
}

@media screen and (max-width: 1500px){
	.subbody{
		width: 75%;
	}
}

@media screen and (max-width: 1200px){
	.subbody{
		width: 100%;
	}
}

@media screen and (max-width: 900px){
	.subbody{
		padding: 0;
		width: 100%;
		grid-template-areas: 
		"aside"
		"section"
		"footer";
		grid-template-columns: 1fr;
		grid-gap: 
	}
	aside {
		margin: auto;
	}
	aside a {
		width: auto;
		height: auto;
		margin-bottom: 15px;
	}
	.creator-article {
		width: 1fr;
		height: 1fr;
	}
}